html body {
  position: relative;
  font-family: sans-serif;
  color: #292c2f;
}
html body ul {
  margin: 0;
  padding: 0;
}
html body li {
  list-style: none;
}
html body a {
  text-decoration: none;
}
html body img {
  max-width: 100%;
}
html body .fadein {
  transform: translateY(30%);
  transition: all 1.2s linear;
  opacity: 0;
}
html body .fadein.show {
  transform: translateY(0%);
  opacity: 1;
}
html body .header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 50;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.5s linear;
}
html body .header.active {
  left: 0%;
  transition: all 0.5s linear;
}
@media screen and (max-width: 880px) {
  html body .header {
    width: 100vw;
    height: 100vh;
    left: -200%;
    transition: all 0.3s linear;
  }
}
html body .header .logo {
  margin: 0 0 45px;
  padding: 20px 20px 0 20px;
  font-size: 40px;
  font-family: sans-serif;
  letter-spacing: 3px;
  line-height: 50px;
}
@media screen and (max-width: 880px) {
  html body .header .logo {
    margin: 0 0 20px;
    padding: 55px 20px 0 20px;
  }
}
@media screen and (max-width: 480px) {
  html body .header .logo {
    padding: 35px 20px 0 20px;
  }
}
html body .header .logo a {
  color: #fff;
}
html body .header .navi {
  padding-left: 30px;
}
@media screen and (max-width: 880px) {
  html body .header .navi {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 30px 0 0;
  }
}
html body .header .navi-list-item {
  margin-bottom: 35px;
}
html body .header .navi-list-item a {
  position: relative;
  display: block;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: lighter;
  color: #fff;
  letter-spacing: 3px;
  line-height: 20px;
}
html body .header .navi-list-item a::after, html body .header .navi-list-item a::before {
  position: absolute;
  display: block;
  content: "";
  background: #fff;
  transition: all 0.3s linear;
  z-index: 20;
}
html body .header .navi-list-item a::after {
  top: 29px;
  width: 0px;
  height: 1px;
}
html body .header .navi-list-item a::before {
  bottom: -8px;
  left: 0px;
  width: 0px;
  height: 0px;
  transform: rotate(37deg);
}
html body .header .navi-list-item a:hover::after {
  width: 120px;
}
html body .header .navi-list-item a:hover::before {
  bottom: -4px;
  left: 102px;
  width: 20px;
  height: 1px;
}
html body .header.active {
  left: 0%;
}
html body .main {
  background: #fcf8f3;
}
html body .main .mv .mv-images::before {
  display: block;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 695px;
  background-image: url("./images/mv.jpg");
  background-size: cover;
  background-position: center center;
}
@media screen and (max-width: 880px) {
  html body .main .mv .mv-images::before {
    background-position: 70% 60%;
  }
}
@media screen and (max-width: 480px) {
  html body .main .mv .mv-images::before {
    background-position: 80% 60%;
  }
}
html body .main .mv .mv-text {
  position: absolute;
  bottom: 105%;
  left: 30%;
  font-size: 26px;
  color: #292c2f;
  font-family: sans-serif;
  letter-spacing: 5px;
  text-shadow: 0px 0px 2px #fff;
  z-index: 10;
}
@media screen and (max-width: 1200px) {
  html body .main .mv .mv-text {
    left: 40%;
    width: 340px;
  }
}
@media screen and (max-width: 880px) {
  html body .main .mv .mv-text {
    left: 21px;
  }
}
html body .main .mv .mv-text br {
  display: none;
}
@media screen and (max-width: 1200px) {
  html body .main .mv .mv-text {
    padding: 0;
    font-size: 23px;
    line-height: 40px;
  }
  html body .main .mv .mv-text br {
    display: block;
  }
}
html body .main .mv .list-btn {
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 20px;
  z-index: 100;
  transition: all 0.2s linear;
}
html body .main .mv .list-btn div {
  width: 30px;
  height: 2px;
  background: #292c2f;
  transition: all 0.2s linear;
}
@media screen and (min-width: 880px) {
  html body .main .mv .list-btn {
    display: none;
  }
}
html body .main .mv .list-btn.active div:nth-child(1) {
  background: #fff;
  transform: translateY(9px) rotate(45deg);
  transition: all 0.2s linear;
}
html body .main .mv .list-btn.active div:nth-child(2) {
  width: 0px;
  transition: all 0.2s linear;
}
html body .main .mv .list-btn.active div:nth-child(3) {
  background: #fff;
  transform: translateY(-9px) rotate(-45deg);
  transition: all 0.2s linear;
}
html body .main .mv .logo-responsive {
  position: absolute;
  display: none;
  bottom: 107%;
  left: 21px;
  font-size: 40px;
  font-family: sans-serif;
  letter-spacing: 3px;
  line-height: 50px;
}
html body .main .mv .logo-responsive a {
  color: #292c2f;
  text-shadow: 0px 0px 2px #fff;
}
@media screen and (max-width: 880px) {
  html body .main .mv .logo-responsive {
    display: block;
  }
}
html body .main .mv .logo-responsive.active {
  display: none;
}
html body .main .contents {
  scroll-margin-top: 50px;
  margin: 0 auto 150px;
  padding: 0 5% 0 25%;
}
html body .main .contents:last-child {
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  html body .main .contents {
    padding: 0 5% 0 35%;
  }
}
@media screen and (max-width: 880px) {
  html body .main .contents {
    margin: 0 auto 80px;
    padding: 0;
    width: 90%;
  }
}
html body .main .contents-title {
  display: flex;
  justify-content: center;
  margin: 0 auto 50px;
  padding-bottom: 5px;
  font-size: 20px;
  font-family: sans-serif;
  letter-spacing: 5px;
}
html body .main #about {
  margin-top: 695px;
  padding-top: 80px;
}
html body .main #about .contents-about {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media screen and (max-width: 880px) {
  html body .main #about .contents-about {
    justify-content: flex-start;
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  html body .main #about .contents-about {
    justify-content: center;
    flex-direction: column;
  }
}
html body .main #about .contents-about-images {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1200px) {
  html body .main #about .contents-about-images {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 880px) {
  html body .main #about .contents-about-images {
    margin: 0 auto 30px;
  }
}
html body .main #about .contents-about-inner {
  padding-left: 50px;
  width: 50%;
}
@media screen and (max-width: 1200px) {
  html body .main #about .contents-about-inner {
    padding: 0;
    width: 100%;
  }
}
html body .main #about .contents-about-inner .al {
  margin-bottom: 5px;
  display: block;
  font-size: 10px;
  letter-spacing: 1px;
}
html body .main #about .contents-about-inner .jp {
  margin-bottom: 20px;
  font-size: 30px;
}
html body .main #about .contents-about-inner .birthday {
  margin-bottom: 20px;
  font-size: 18px;
  letter-spacing: 2px;
}
html body .main #about .contents-about-inner .text {
  margin-top: 0;
  width: 100%;
  line-height: 27px;
  letter-spacing: 2px;
}
html body .main #profile .profile-list {
  position: relative;
  padding-left: 35px;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  html body .main #profile .profile-list {
    font-size: 16px;
  }
}
html body .main #profile .profile-list-item {
  position: relative;
  padding-bottom: 30px;
  line-height: 30px;
}
html body .main #profile .profile-list-item:last-child {
  padding: 0;
}
html body .main #profile .profile-list-item::before {
  position: absolute;
  top: 6px;
  left: -35px;
  transform: translateY(0px);
  display: block;
  content: "";
  width: 21px;
  height: 21px;
  background: #927c60;
}
html body .main #profile .profile-list-item:nth-child(odd)::before {
  background: #927c60;
}
html body .main #profile .profile-list-item:nth-child(even)::before {
  background: #292c2f;
}
html body .main #profile .profile-list::before {
  position: absolute;
  display: block;
  content: "";
  top: 7px;
  left: 10px;
  width: 1px;
  height: 500px;
  background: #927c60;
}
@media screen and (max-width: 1120px) {
  html body .main #profile .profile-list::before {
    height: 530px;
  }
}
@media screen and (max-width: 993px) {
  html body .main #profile .profile-list::before {
    height: 590px;
  }
}
@media screen and (max-width: 969px) {
  html body .main #profile .profile-list::before {
    height: 630px;
  }
}
@media screen and (max-width: 880px) {
  html body .main #profile .profile-list::before {
    height: 500px;
  }
}
@media screen and (max-width: 747px) {
  html body .main #profile .profile-list::before {
    height: 530px;
  }
}
@media screen and (max-width: 662px) {
  html body .main #profile .profile-list::before {
    height: 590px;
  }
}
@media screen and (max-width: 646px) {
  html body .main #profile .profile-list::before {
    height: 630px;
  }
}
@media screen and (max-width: 592px) {
  html body .main #profile .profile-list::before {
    height: 630px;
  }
}
@media screen and (max-width: 480px) {
  html body .main #profile .profile-list::before {
    height: 630px;
  }
}
html body .main #skill {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
@media screen and (max-width: 880px) {
  html body .main #skill .contents-skill:last-of-type {
    margin-bottom: 0;
  }
}
html body .main #skill .contents-title {
  width: 100%;
}
html body .main #skill .contents-skill {
  margin-bottom: 60px;
  width: 46%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
@media screen and (max-width: 1200px) {
  html body .main #skill .contents-skill {
    width: 100%;
  }
}
html body .main #skill .contents-skill-inner {
  padding-left: 15px;
}
html body .main #skill .contents-skill-inner .title {
  margin: 10px 0;
}
html body .main #skill .contents-skill-inner .text {
  margin: 0;
  width: 100%;
  line-height: 29px;
  letter-spacing: 1px;
}
html body .main #skill .contents-skill:first-of-type {
  width: 100%;
  flex-wrap: wrap;
}
html body .main #skill .contents-skill:first-of-type .images-html5-css3 {
  display: flex;
  width: 21%;
}
@media screen and (max-width: 880px) {
  html body .main #skill .contents-skill:first-of-type .images-html5-css3 {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}
html body .main #skill .contents-skill:nth-of-type(2) img {
  padding: 9px;
  width: 80px;
  height: 80px;
}
html body .main #work {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
html body .main #work .contents-title {
  width: 100%;
}
html body .main #work .contents-work {
  width: 48%;
  margin-bottom: 50px;
}
html body .main #work .contents-work span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #fff;
  background: #927c60;
}
@media screen and (max-width: 880px) {
  html body .main #work .contents-work {
    width: 100%;
  }
}
html body .main #work .contents-work-images {
  margin-bottom: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
html body .main #work .contents-work-item {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
html body .main #work .contents-work-item .tag02 {
  background-color: #292c2f;
}
html body .main #work .contents-work-item .period {
  margin: 0 0 0 10px;
  font-size: 14px;
}
html body .main #work .contents-work .title {
  margin: 0 0 15px;
}
html body .main #work .contents-work .point {
  margin-bottom: 5px;
}
html body .main #work .contents-work .text {
  margin: 0 0 20px;
  line-height: 29px;
  letter-spacing: 1px;
}
html body .main #work .contents-work .web-url {
  margin: 0 0 10px 0;
  font-size: 14px;
  line-height: 25px;
  width: 95%;
  word-wrap: break-word;
}
html body .main #work .contents-work .web-url a {
  margin: 0 0 15px 5px;
  padding-bottom: 5px;
  color: #927c60;
  border-bottom: solid 1px #000;
}
html body .main #work .contents-work .web-url a:hover {
  color: #000;
  border-bottom: 0;
  opacity: 0.8;
}
html body .main #future .contents-title-inner {
  background-image: url("./images/future.webp");
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 500px;
}
html body .main #future .contents-title-inner-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  height: 500px;
  background: rgba(255, 255, 255, 0.5);
}
html body .main #future .contents-title-inner-filter .title {
  margin: 30px 0;
  font-family: sans-serif;
  letter-spacing: 2px;
  line-height: 30px;
  text-align: center;
}
html body .main #future .contents-title-inner-filter .title br {
  display: none;
}
@media screen and (max-width: 480px) {
  html body .main #future .contents-title-inner-filter .title br {
    display: block;
  }
}
html body .main #future .contents-title-inner-filter .text {
  margin: 0 0 16px 0;
  width: 65%;
  line-height: 27px;
  letter-spacing: 2px;
}
@media screen and (max-width: 1200px) {
  html body .main #future .contents-title-inner-filter .text {
    width: 70%;
  }
}
@media screen and (max-width: 880px) {
  html body .main #future .contents-title-inner-filter .text {
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  html body .main #future .contents-title-inner-filter .text {
    width: 95%;
  }
}
html body .main #contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 100px;
}
html body .main #contact .mail a {
  margin-left: 5px;
  color: #927c60;
  border-bottom: solid 1px #292c2f;
}
html body .main #contact .mail a:hover {
  color: #292c2f;
  border-bottom: 0;
}
html body .footer {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5% 0 25%;
  height: 20px;
}
@media screen and (max-width: 880px) {
  html body .footer {
    padding: 0;
  }
}/*# sourceMappingURL=text.css.map */
