@use  "sabu" as m;

html {
    $bease-color: #fcf8f3;
    $main-color: #fff;
    $sabu-color01: #292c2f;
    $sabu-color02:#927c60;
    body {
        @function vw($size, $viewport:1920) {
            $rate: 100 /$viewport;
            @return $rate * $size * 1vw;
        }
    
        @mixin display001 {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        position: relative;
        font-family: sans-serif;
        color: $sabu-color01;
    
        ul {
            margin: 0;
            padding: 0;
        }
        li {
            list-style: none;
        }
        a {
            text-decoration: none;
        }
        img {
            max-width: 100%;
        }
    
        .fadein {
            transform: translateY(30%);
            transition:  all 1.2s ease-in-out;
            opacity: 0;
        }
    
        .fadein.show {
            transform: translateY(0%);
            opacity: 1;
        }
    
        .header {
            position: fixed;
            top: 0px;
            left: 0px;
            z-index: 50;
            height: 100vh;
            background:rgba($color: #000000, $alpha: 0.5);
            transition: all 0.5s;
            
            &.active {
                left: 0%;
                transition: all 0.5s;
            }
            
            @include m.mq(tab) {
                width: 100vw;
                height: 100vh;
                left: -200%;
                transition: all 0.3s linear;
            }
            .logo {
                margin: 0 0 45px;
                padding: 20px 20px 0 20px;
                font-size: 40px;
                font-family: sans-serif;
                letter-spacing: 3px;
                line-height: 50px;
    
                @include m.mq(tab) {
                    margin: 0 0 20px;
                }
    
                a {
                    color: $main-color;
                }
            }
    
            .navi {
                padding-left: 30px;
                
                @include m.mq(tab) {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    padding: 0 30px 0 0;
                }
                &-list-item {
                    margin-bottom: 35px;
                    a {
                        position: relative; 
                        display: block;
                        font-size: 20px;
                        font-family: sans-serif;
                        font-weight: lighter;
                        color: $main-color;
                        letter-spacing: 3px;
                        line-height: 20px;
                       
                        &::after,
                        &::before {
                            position: absolute;
                            display: block;
                            content: "";
                            background: $main-color;
                            transition: all 0.3s linear;
                            z-index: 20;
                            
                        }
                        &::after {
                            top: 29px;
                            width: 0px;
                            height: 1px;
                            
                        }  
                        &::before {
                            bottom: -8px;
                            left: 0px;
                            width: 0px;
                            height: 0px;
                            transform: rotate(37deg);
                        }  
                        &:hover::after {
                            width: 120px;
                        }
                        
                        &:hover::before {
                            bottom: -4px;
                            left: 102px;
                            width: 20px;
                            height: 1px;
                        }
    
                    }  
                    :-webkit-full-page-media, _:future, .item:root .navi-list-item-a:hover::before  {
                        bottom: -1px;
                    }
                }
                
            }
        }
        
        .header.active {
            left: 0%;
        
        }
        .main {
            background:$bease-color;
            .mv{
                .mv-images::before {
                    display: block;
                    content: "";
                    position: fixed;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    width: 100vw;
                    height: 695px;
                    background-image: url('./images/mv.jpg');
                    background-size: cover;
                    background-position: center center;
                    
                    @include m.mq(tab) {
                        background-position: 70% 60%;
                    }
        
                    @include m.mq(sp) {
                        background-position: 80% 60%;
                    }
                    
                }
                .mv-text {
                    position: absolute;
                    bottom: 105%;
                    left: 30%;
                    font-size: 26px;
                    color:  $sabu-color01;
                    font-family: sans-serif;
                    letter-spacing: 5px;
                    text-shadow: 0px 0px 2px $main-color;
                    z-index: 10;
        
                    @include m.mq(pc01) {
                        left: 40%;
                        width: 340px;
                    }
                    @include m.mq(tab) {
                        left: 21px;
                    }
        
                    br {
                        display: none;
                        }
                        @include m.mq(pc01) {
                            padding: 0;
                            font-size:23px;
                            line-height: 40px;
                            
                            br {
                                display: block;
                            }
                        }
                }
                .list-btn {
                    position: fixed;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    top: 20px;
                    left: 90%;
                    width: 30px;
                    height: 20px;
                    z-index: 100;
                    transition: all 0.2s linear;
                    div {
                        width: 30px;
                        height: 2px;
                        background: $sabu-color01;
                        transition: all 0.2s linear;
                    }
                    @media screen and (min-width:880px) {
                        display: none;
                        
                    }
    
                    &.active {
                        div:nth-child(1) {
                            background: $main-color;
                            transform: translateY(9px) rotate(45deg);
                        transition: all 0.2s linear;
                        }
                        div:nth-child(2) {
                            width: 0px;
                            transition: all 0.2s linear;
                        }
                        div:nth-child(3) {
                            background: $main-color;
                            transform:translateY(-9px) rotate(-45deg);
                            transition: all 0.2s linear;
                        }
                    }
                }
                .logo-responsive {
                    position: absolute;
                    display: none;
                    bottom: 109.5%;
                    left: 21px;
                    font-size: 40px;
                    font-family: sans-serif;
                    letter-spacing: 3px;
                    line-height: 50px;
                    
                    a {
                        color: $sabu-color01;
                        text-shadow: 0px 0px 2px $main-color;
                    }
                    @include m.mq(tab) {
                        display: block;
                    }
                }
                .logo-responsive.active {
                    display:none ;
                }
            }
    
            .contents {
                scroll-margin-top: 50px;
                margin: 0 auto 150px;
                padding:0 5% 0 25% ;
    
                
                &:last-child  {
                    margin: 0 auto;
                }
                
                @include m.mq(pc01) {
                    padding: 0 5% 0 35%;
                }
                
                @include m.mq(tab) {
                    margin: 0 auto 80px;
                    padding: 0;
                    width: 90%;
                }
                
                &-title {
                    display: flex;
                    justify-content: center;
                    margin: 0 auto 50px;
                    padding-bottom: 5px;
                    font-size: 20px;
                    font-family: sans-serif;
                    letter-spacing: 5px;
                }
            }   
            
            #about {
                margin-top: 695px;
                padding-top: 80px;
                .contents-about {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    
                    @include m.mq(tab) {
                        justify-content: flex-start;
                        flex-direction: column
                    }
                    @include m.mq(sp) {
                        justify-content: center;
                        flex-direction: column
                    }
                    
                    
                    &-images {
                        width: 300px;
                        height: 300px;
                        border-radius: 50%;
                        object-fit: cover;
                        
                        @include m.mq(pc01) {
                            margin-bottom: 30px;
                        }
                        
                        @include m.mq(tab) {
                            margin: 0 auto 30px;
                        }
                    }
                    &-inner {
                        padding-left: 50px;
                        width: 50%; 
                        
                        @include m.mq(pc01) {
                            padding: 0;
                            width: 100%;
                        }
                        .al {
                            margin-bottom: 5px;
                            display: block;
                            font-size: 10px;
                            letter-spacing: 1px;
                            
                            
                        }
                        .jp {
                            margin-bottom: 20px;
                            font-size: 30px;
                        }
                        .birthday {
                            margin-bottom: 20px;
                            font-size: 18px;
                            letter-spacing: 2px;
                        }
                        .text {
                            margin-top: 0;
                            width: 100%;
                            line-height: 27px;
                            letter-spacing: 2px;
                        }
                    }
                }
            }
            
            #profile {
                
                .profile-list {
                    position: relative;
                    padding-left:35px ;
                    font-size: 18px;
                    
                    @include m.mq(sp) {
                        font-size: 16px;
                    }
                    
                    &-item {
                        position: relative;
                        padding-bottom: 30px;
                        line-height: 30px;
    
                        &:last-child {
                            padding: 0;
                        }
                        &::before {
                            position: absolute;
                            top: 6px;
                            left: -35px;
                            transform: translateY(0px);
                            display: block;
                            content: "";
                            width: 21px;
                            height: 21px;
                            background:  $sabu-color02;
                        }
                        &:nth-child(odd)::before {
                            background:    $sabu-color02;
                        }
                        &:nth-child(even)::before {
                            background:   $sabu-color01;
                        }
                    }
                    &::before {
                        position: absolute;
                        display: block;
                        content: "";
                        top: 7px;
                        left: 10px;
                        width: 1px;
                        height: 500px;
                        background:  $sabu-color02;
                        
                        @media screen  and (max-width:1120px){
                            height: 530px;
                        }
                        @media screen  and (max-width:993px){
                            height: 590px;
                        }
                        @media screen  and (max-width:969px){
                            height: 630px;
                        }
                        @include m.mq(tab) {
                            height: 500px;
                        }
                        @media screen  and (max-width:747px){
                            height: 530px;
                        }
                        @media screen  and (max-width:662px){
                            height: 590px;
                        }
                        @media screen  and (max-width:646px){
                            height: 630px;
                        }
                        @media screen  and (max-width:592px){
                            height: 630px;
                        }
                        @include m.mq(sp) {
                            height: 630px;
                        }
                    }
                }
            }
            
            #skill {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-wrap: wrap;
    
                @include m.mq(tab) {
                    .contents-skill:last-of-type {
                        margin-bottom: 0;
                    }
                }
                
                .contents-title {
                    width: 100%
                }
                .contents-skill {
                    margin-bottom: 60px;
                    width: 46%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    
                    @include m.mq(pc01) {
                        width: 100%;
                    }
                    
                    &-inner {
                        padding-left: 15px;
                        .title {
                            margin:10px 0;
                        }
                        .text {
                            margin: 0;
                            width: 100%;
                            line-height: 29px;
                            letter-spacing: 1px;
                            
                        }
                    }
    
                    &:first-of-type {
                        width: 100%;
                        flex-wrap: wrap;
                        
                        .images-html5-css3 {
                            display: flex;
                            width: 21%;
                            
                            @include m.mq(tab) {
                                display: block;
                                margin: 0 auto;
                                width: 100%;
                            }
                        }
                    }
                    &:nth-of-type(2) img{
                        padding: 9px;
                        width: 80px;
                        height: 80px;
                    }   
                }
            }
            #work {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                
                .contents-title {
                    width: 100%;
                }
                @include m.mq(tab) {
                    .contents-work:nth-of-type(3),
                    .contents-work:nth-of-type(4) {
                        display: none;
                    }
                }
                .contents-work {
                    width: 48%;
                    margin-bottom: 50px;
                    
                    span {
                        @include display001;
                        width:60px;
                        height: 20px;
                        font-size: 12px;
                        letter-spacing: 1px;
                        color: $main-color;
                        background:  $sabu-color02;
                    }
                    
                    @include m.mq(tab) {
                        width: 100%;
                    }
                    
                    &-images {
                        margin-bottom: 10px;
                        object-fit: cover;
                    }
                    &-item {
                        display: flex;
                        gap: 10px;
                        margin-bottom: 10px;
    
                        .tag02 {
                            background-color: $sabu-color01;
                        }
                        .period {
                           margin: 0 0 0 10px;
                           font-size: 14px;
                        }
                    }
                    .title {
                        margin: 0 0 15px;
                    }
                    .point {
                        margin-bottom: 5px;
                    }
                    .text {
                        margin: 0 0 20px;
                        line-height: 29px;
                        letter-spacing: 1px;
                    }
                    .web-url {
                        margin: 0 0 10px 0;
                        font-size: 14px;
                        line-height: 25px;
                        width: 95%;
                        word-wrap: break-word;
                        a {
                            margin:0 0 15px 5px;
                            padding-bottom: 5px;
                            color: $sabu-color02;
                            border-bottom: solid 1px #000;
    
                            &:hover {
                                color: #000;
                                border-bottom: 0;
                                opacity: 0.8;
                            }
                        }
                    }
                    
                }
                .readmore-btn {
                    @include display001;
                    margin: 0 auto;
                    width: 150px;
                    height: 40px;
                    background: $sabu-color01;
                    border-radius: 3px;
                    transition: all .2s;
    
                    &:hover {
                        background: $main-color;
                        transition: all .2s;
                         a{
                            color: $sabu-color01;
                         }
                    }
                    a {
                        color: $main-color;
                    }
                }
            }
            #future {
                .contents-title-inner {
                    background-image: url('./images/future.webp');
                    background-size: cover;
                    background-position: center;
                    object-fit: cover;
                    width: 100%;
                    height: 500px;
                    
                    &-filter {
                        @include display001; 
                        flex-direction: column;
                        margin: 0 auto;
                        height: 500px;
                        background: rgba($color:  $main-color, $alpha: 0.5);
                        
                        .title {
                            margin: 30px 0;
                            font-family: sans-serif;
                            letter-spacing: 2px;
                            line-height: 30px;
                            text-align: center;
    
                            br {
                                display: none;
    
                                @include m.mq(sp) {
                                    display: block;
                                }
                            }
                        }
                        .text {
                            margin:0 0 16px 0;
                            width: 65%;
                            line-height: 27px;
                            letter-spacing: 2px;
    
                            @include m.mq(pc01) {
                                width: 70%;
                            }
                            @include m.mq(tab) {
                                width: 80%;
                            }
                            @include m.mq(sp) {
                                width: 95%;
                            }
                        }
                    }
                }
            }
    
            #contact {
                @include display001;
                flex-direction: column;
                padding-bottom: 100px;
                
                .mail {
                    a {
                        margin-left: 5px;
                        color: $sabu-color02;
                        border-bottom: solid 1px$sabu-color01;
                        &:hover {
                            color: $sabu-color01;
                            border-bottom: 0;
                        }
                    }
                }
            }
        }
        .footer {
            background-color: $main-color;
            @include display001;
            padding:0 5% 0 25% ;
            height: 20px;
            
            @include m.mq(tab) {
                padding: 0;
            }
        }
    }
}
